<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <log4net>
      <!-- 信息 -->
    <logger name="INFO">
      <level value="INFO"/>
      <appender-ref ref="UdpAppender"/>
    </logger>
    <!-- 警告 -->
    <logger name="WARN">
      <level value="WARN"/>
      <appender-ref ref="WARNLogFileAppender"/>
    </logger>
    <!-- 错误 -->
    <logger name="ERROR">
      <level value="ERROR"/>
      <appender-ref ref="ERRORLogFileAppender"/>
    </logger>
    <!-- 严重错误 -->
    <logger name="FATAL">
      <level value="FATAL"/>
      <appender-ref ref="FATALLogFileAppender"/>
    </logger>

    <appender name="ERROR_ORACLE" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs/error" />
      <param name="AppendToFile" value="true" />
      <param name="MaxFileSize" value="10240" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%n＝＝＝＝＝＝＝＝＝＝
        %n【日志级别】%-5level
        %n【记录时间】%date
        %n【线程编号】[%thread]
        %n【执行时间】[%r]毫秒
        %n【出错文件】%F
        %n【出错行号】%L
        %n【出错的类】%logger 属性[%property{NDC}]
        %n【错误描述】%message
        %n【错误详情】%newline"/>
      </layout>
    </appender>
    <appender name="FATALLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- 最大日志文件大小MB -->
      <param name="MaxFileSize" value="10240"/>
      <!--日志路径-->
      <param name="File" value="./logs/fatal/"/>
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true"/>
      <!--log保留天数-->
      <param name="MaxSizeRollBackups" value="10"/>
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name="DatePattern" value="yyyy-MM-dd'.log'"/>
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %type.%method  %-5p %c - %m%n "/>
      </layout>
    </appender>

    <appender name="ERRORLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- 最大日志文件大小MB -->
      <param name="MaxFileSize" value="10240"/>
      <!--日志路径-->
      <param name="File" value="./logs/error/"/>
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true"/>
      <!--log保留天数-->
      <param name="MaxSizeRollBackups" value="10"/>
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name="DatePattern" value="yyyy-MM-dd'.log'"/>
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %type.%method  %-5p %c - %m%n "/>
      </layout>
    </appender>

    <appender name="WARNLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- 最大日志文件大小MB -->
      <param name="MaxFileSize" value="10240"/>
      <!--日志路径-->
      <param name="File" value="./logs/warn/"/>
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true"/>
      <!--log保留天数-->
      <param name="MaxSizeRollBackups" value="10"/>
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name="DatePattern" value="yyyy-MM-dd'.log'"/>
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %type.%method  %-5p %c - %m%n "/>
      </layout>
    </appender>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!-- 最大日志文件大小MB -->
      <param name="MaxFileSize" value="10240"/>
      <!--日志路径-->
      <param name="File" value="./logs/info/"/>
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true"/>
      <!--log保留天数-->
      <param name="MaxSizeRollBackups" value="10"/>
      <!--日志文件名是否是固定不变的-->
      <param name="StaticLogFileName" value="false"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name="DatePattern" value="yyyy-MM-dd'.log'"/>
      <!--日志根据日期滚动-->
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss}   %-5p %c - %m%n "/>
      </layout>
    </appender>

    <!-- 控制台前台显示日志 -->
    <appender name="ColoredConsoleAppender"  type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%date %-5level %message%newline"/>
        <!--<conversionPattern value="%n%date{HH:mm:ss,fff} [%-5level] %m" />-->
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Info"/>
        <param name="LevelMax" value="Fatal"/>
      </filter>
    </appender>
    
    <!--<appender name="ColoredConsoleAppender" type="log4net.Appender.ConsoleAppender">
      --><!-- 异常 --><!--
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="white,HighIntensity"/>
      </mapping>
      <mapping>
        <level value="WARN"/>
        <foreColor value="yellow,HighIntensity"/>
      </mapping>
      --><!--错误--><!--
      <mapping>
        <level value="FATAL"/>
        <foreColor value="purple"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        --><!--输出格式--><!--
        <conversionPattern value="%date %-5level %message%newline"/>
        --><!--<conversionPattern value="%n%date{HH:mm:ss,fff} [%-5level] %m" />--><!--
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="Info"/>
        <param name="LevelMax" value="Fatal"/>
      </filter>
    </appender>-->


    <!--将日志输出到udp-->
    <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
      <!--远程地址-->
      <remoteAddress value="127.0.0.1"/>
      <!--remotePort：远程端口，就是你要连接的服务器端的端口-->
      <remotePort value="13888"/>
      <param name="Encoding" value="utf-8"/>
      <layout type="log4net.Layout.PatternLayout" value="%-5level %logger [%ndc] - %message%newline"/>
    </appender>

    <root>
      <!--(高) OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL (低) -->
      <level value="INFO"/>
      <appender-ref ref="ColoredConsoleAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
</configuration>